@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor1: #404EED;
    --cor2: #1E246E;
    --cor3: #8991F0;
    --cor4: #3F426E;
    --cor5: #323EBA;

    --fonte1: 'Roboto', sans-serif;
    --fonte2: Verdana, Geneva, Tahoma, sans-serif;
    --fonte3: 'Bebas Neue', cursive;
}

* {
    margin: 0px;
    padding: 0px; 
}

html, body {
    background-image: linear-gradient(to top, var(--cor2), var(--cor4));
    height: 100%;
    background-attachment: fixed;
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor1));
    padding: 30px;
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.356);
}

header h1 {
    color: white;
    font-size: 3em;
    padding-bottom: 10px;
    font-weight: 700;
    font-family: var(--fonte1);
}

header a {
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    font-family: var(--fonte2);
}

header a:hover {
    text-decoration: underline;
}

img#perfil {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    padding: 10px;
}

section.linha {
    display: inline-block;
}

section#infos {
    position: absolute;
    padding-top: 50px;
    padding-left: 15px;
}

section#infos img {
    position: relative;
    margin-top: 15px;
    margin-right: 10px;
    width: 32px;
}

section#infos img:hover {
    top: -2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.555);
    border-radius: 100px;
}

main {
    margin: auto;
    padding: 50px 15px 0px 15px;
    box-shadow: inset 4px 2px 7px rgba(0, 0, 0, 0.349);
    background-color: white;
}

main#index {
    background: var(--cor3) url('../imagens/cloud-pq.png') center center fixed;
}

article#infos {
    background-color:white;
    max-width: 1000px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.349);
    margin-bottom: 50px;
}


article#infos p {
    padding: 10px;
    font-family: var(--fonte2);
    line-height: 2em;
    text-align: center;
    font-size: 1.2em;
}

h1.titulos {
    text-align: center;
    padding: 20px;
    font-family: var(--fonte3);
    font-weight: normal;
    font-size: 3em;
    text-decoration: underline;
}

h1#portfolios {
    color: white;
    padding: 10px;
    margin: 0px -15px;
    /* border-radius: 20px 20px 0px 0px;  */
    background-color: var(--cor2);
}

section.imagem {
    margin: 0px -15px;
    padding: 10px;
    height: 450px;
    font-family: var(--fonte1);
}

 a.quadrado h2{
    text-decoration: none;
    color: white;
    border-radius: 30px;
}

a.quadrado:hover h2{
    text-decoration: underline;
}

section#arte {
    background: black url('../imagens/wallpaper-teatro-pq.jpg') center bottom no-repeat fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.514);
}

section.imagem  h2 {
    display: inline-block;
    color:white;
    background-color: rgba(30, 35, 110, 0.651);
    position: relative;
    font-size: 4em;
    text-align: center;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.404);
    padding: 10px;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section#dev {
    background: black url('../imagens/wallpaper-dev.jpg') center top no-repeat fixed;
    background-size: cover;
    height: 300px;
}

@media (max-width: 750px){
    header {
        height: 200px;
        padding-left: 5px;
    }
    
    img#perfil {
        width: 25vw;
        height: 25vw;
    }

    header h1 {
        font-size: 7vw;
    }

    header a {
        font-size: 1.7vh;
    }
    
    article#infos p {
        text-align: justify;
        font-size: 1.1em;
        line-height: 2.3em;
    }

}