@charset "UTF-8";

body , html {
    height: 100vh;
    background: var(--cor3) url('../imagens/cloud-pq.png') center top fixed;
}

main {
    max-width: 1000px;
    text-align: center;
    line-height: 3em;
    border-radius: 0px 0px 10px 10px;
    padding: 20px 0px;
    box-shadow: 4px 2px 7px rgba(0, 0, 0, 0.349);
}

main p {
    text-align: center;
}

main h1 {
    font-family: var(--fonte2);
    text-decoration: underline;
}

main p {
    font-family: var(--fonte2);
}

ul {
    list-style-type: none;
}

.imagens {
    max-height: 450px;
    max-width: 450px;
  }

  img#voltar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }

  img#voltar:hover {
    transform: translate(-1px, -1px);
    box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.425);
    transition: transform .3s;
  }

  @media (max-width: 750px) {
    .imagens {
        width: 95vw;
        height: 95vw;
    }
  }