@charset "UTF-8";

main {
    max-width: 1000px;
    text-align: center;
    line-height: 3em;
    border-radius: 0px 0px 10px 10px;
    padding: 20px 0px;
    box-shadow: 4px 2px 7px rgba(0, 0, 0, 0.349);
}

main p {
    text-align: center;
}

main h1 {
    font-family: var(--fonte2);
    text-decoration: underline;
}

main p , a {
    font-family: var(--fonte2);
}
